tickTime={{ zookeeper_conf_ticktime }}
initLimit={{ zookeeper_conf_initLimit }}
syncLimit={{ zookeeper_conf_syncLimit }}
dataDir={{ zookeeper_conf_dataDir }}
clientPort={{ zookeeper_conf_clientport }}
clientPortAddress={{ zookeeper_conf_clientportaddress }}
maxClientCnxns={{ zookeeper_conf_maxClientCnxns }}

autopurge.snapRetainCount={{ zookeeper_conf_autopurge_snapretaincount }}
autopurge.purgeInterval={{ zookeeper_conf_autopurge_purgeinterval }}

metricsProvider.className={{ zookeeper_conf_metricsprovider_class }}
metricsProvider.httpHost={{ zookeeper_conf_metricsprovider_httphost }}
metricsProvider.httpPort={{ zookeeper_conf_metricsprovider_httpport }}
metricsProvider.exportJvmInfo={{ zookeeper_conf_metricsprovider_exportjvminfo }}

{{ zookeeper_conf_extra }}

{% for server in groups[zookeeper_group_name] %}
server.{{ hostvars[server].zk_id }}={{ hostvars[server].backnet_ip }}:{{ zookeeper_bind_port_peer }}:{{ zookeeper_bind_port_leader }}
{% endfor %}
