[Unit]
Description=Zookeeper Service

[Service]
LimitNOFILE=65535
Type=forking
Environment="ZOO_LOG_DIR={{ zookeeper_path_log }}"
User={{ zookeeper_user }}
Group={{ zookeeper_group }}
ExecStart={{ zookeeper_path_install }}/bin/zkServer.sh start
StandardOutput=journal
StandardError=journal
Restart=always
PIDFile={{ zookeeper_path_data }}/zookeeper_server.pid

[Install]
WantedBy=multi-user.target
